/* #f8f9fa
#dee2e6; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    --color1: #ffffff;
    --color2: #000000;
    height: 100%;

}

#kontakt {
    display: flex;

}

.form-group {
    display: flex;
    margin-bottom: 20px;
    position: relative;
    text-align: center;

}

/* .nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}

.logo img {width: 40px;}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
} */
/* .open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
} */

footer {
    display: flex;
    color: white;
    background-color: #181818;
    width: 100%;
    padding: 12px 20px;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.social-icons img {
    width: 1rem;
}

/* #check {display: none;}
@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;
        width: 80%;
        margin-top: 2rem;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
} */
.kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.kontakt h2 {
    margin-bottom: 20px;
}

 .kontakt form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.kontakt label {
    width: 100%;

}

.kontakt input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
} 

/* Lägg till eventuella anpassade formulärknappar */
.kontakt button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    width: 100%;
    color: white;
}